/* @import url('https://fonts.googleapis.com/css?family=Khula&display=swap'); */
@import url(https://fonts.googleapis.com/css?family=Khula:300,regular,600,700,800);

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
  max-width:1440px;
  min-width:319.95px;
  
}

a {
  color: #fff;
  padding: 15px 15px;
  text-decoration: none;
  line-height: 20px;
  font-size: 2rem;
  font-weight: 900;
  border: 3px solid #C0C0C0;
  border: none;
  border-radius: 10px;
  z-index: 2;
  background-color:#485563;
  box-shadow: 0px 0px 1px #485563,
              0px 0px 1px #485563,
              inset -5px -5px 8px #6c7885,
              inset 5px 5px 8px #252c35;
  transition: all 0.5s ease 0s;
  
}

a:hover {
  color: #16D9E3;
  background-color:#485563;
  box-shadow: 5px 5px 8px #1f262e,
              -5px -5px 8px #6c7885;
  z-index: 5;
}

.start {
  font-size: 1.5rem;
  font-weight: 700;
}

h1 {
  margin: 0px 0 50px 0;
  padding: 0;
  line-height: 1.4;
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  margin: 0 0 0px 0;
  padding: 0;
  line-height: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.08rem;
}

.h4 {
  
  line-height: 1.4;
  font-size: 4rem;
  font-weight: bold;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out 0.3s;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
  padding: 0 20px 0 20px;
  overflow: hidden;
}

.screen.up {
  margin-top: -100vh;
  padding: 0 20px 0 20px;
  overflow: hidden;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 3px solid #C0C0C0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  transition: all 0.3s ease 0s;
}

.time-btn:hover {
  border: 3px solid #16D9E3;
  color: #ffe819;
  box-shadow: 0px 0px 15px #16D9E3;
  
}

.go-btn{
  background-color: transparent;
  border: 3px solid #C0C0C0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease 0s;
}

.go-btn:hover {
  border: 3px solid #16D9E3;
  color: #ffe819;
  box-shadow: 0px 0px 15px #16D9E3;
}
.hide {
  opacity: 0;
  display: none;
}

.primary {
  color: #f7f317;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: #485563;
  /* linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%); */
  box-shadow: -5px -5px 10px #485563, 
              5px 5px 10px #29323C;              
  border-radius: 30px;
  overflow: hidden;
  border: 3px solid rgb(255, 210, 12);
  /* border:none; */
  margin: 0px 20px 0 20px;
  
}

.resett{
  /* display: block;
  margin: 0px auto;
  padding: 50px 0; */
  justify-content: space-around;
  
}
/* .resett .board{
  display: block;
  margin: 50px auto;

} */

.reset-btn{
  background-color: transparent;
  border: 3px solid #C0C0C0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  transition: box-shadow 0.3s ease 0s;
  margin:0
}

.reset-btn:hover {
  border: 3px solid #16D9E3;
  color: #ffe819;
  box-shadow: 0px 0px 15px #16D9E3;

}

.circle {
  /* background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%); */
  position: absolute;
  border-radius: 50%;
  transition: box-shadow 0.5s ease 0s;
  box-shadow: -2px -2px 4px #000000bb,
              2px 2px 4px #ffffffa2,
              inset -4px -4px 8px #00000096,
              inset 4px 4px 8px #ffffff9f;
  cursor: pointer;
}

._active {
  
  transform: translateY(-100vh) scale(0,0);
  /* box-shadow: -5px -5px 8px #707c8b,
              5px 5px 8px #1f262e,
              inset -5px -5px 8px #707c8b,
              inset 5px 5px 8px #1f262e; */
  
}

._vanish {
  
  transition: all 0.5s ease 0s;
  background-color:#ffffff;
  transform: scale(0,0);
}
._vanishup{
  transition: all 0.5s ease 0s;
  transform: translateY(-20vh) scale(0,0);
  background-color:#ffffff;
  
}
._vanishdown{
  transition: all 0.5s ease 0s;
  transform: translateY(30vh) scale(0,0);
  background-color:#ffffff;
  
}


@media (max-width: 767.98px) {
  a{
    font-size: 1.2rem;
  }
  h1{
    font-size: 2.5rem;
    line-height: 3.5rem;
    
  }
  h2{
    
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .start{
    font-size: 1.2rem;
    font-weight: 600;
  }
  .go-btn {
    font-size: 1.5rem;
    font-weight: 800;
  }
  .board {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 424.98px) {
  a{
    font-size: 1rem;
  }
  h1{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h2{
    font-size: 1rem;
  }
  .start{
    font-size: 0.9rem;
    font-weight: 600;
  }
  .go-btn{
    font-size: 1.2rem;
    font-weight: 800;
  }
  .board {
    width: 310px;
    height: 310px;
  }
}