/* @import url('https://fonts.googleapis.com/css?family=Khula&display=swap'); */
@import url(https://fonts.googleapis.com/css?family=Khula:300,regular,600,700,800);

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  line-height: 20px;
  font-size: 2rem;
  font-weight: 900;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: box-shadow 0.3s ease 0s;
  
}

a:hover {
  color: #ffe819;
  box-shadow: 0px 0px 15px #ffe819;
  border: 2px solid #ffe819;
}

.start {
  font-size: 1.5rem;
}

h1 {
  margin: 0 0 50px 0;
  padding: 0;
  line-height: 1.4;
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  margin: 0 0 0px 0;
  padding: 0;
  line-height: 15px;
  font-size: 1.5rem;
  font-weight: 300;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #ffe819;
}
.start-btn{
  background-color: transparent;
  border: 2px solid #C0C0C0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.start-btn:hover {
  border: 2px solid #16D9E3;
  color: #ffe819;
}
.hide {
  opacity: 0;
}

.primary {
  color: #f7f317;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid rgb(255, 210, 12);
  
}

.circle {
  /* background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%); */
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}